section{
    padding: 3% 10%;
}
.navbar{
    padding: 3% 10% 1% 10%;
    background-color: #000000;
}

#info{
    padding: 17% 10% 3% 10%;
    color: #fff;
    background-color: #000000;
}


.artwork img {
    width: 10vw;
}

#top-10-artists {
    background-color: #212529;
    color: #fff;
}

#footer {
    text-align: center;
}